@charset "UTF-8";

body{
	padding-top: 50px;
}

.sidebar{
	position: fixed;
	display:block;
	top:50px;
	bottom:0;
	background-color:#F4F5F7;
}

.main{
	padding-top: 50px;
	padding-left: 20px;
	position: fixed;
	display:block;
	top:0px;
	bottom:0px;
}

.page-header{
	margin-top: 0px;
}